@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

body {
  background-image: url("https://media.gq-magazine.co.uk/photos/622f378bd55b605b95a8fdee/master/pass/140322_Weights_HP.jpg");
}

:root{
    --first-color:#fa7c30;
    --footer-color:#161418;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    transition: 0.2s;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif
}
body{
    width: 100%;
}

.header{
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,.6);
    z-index: 100;
    width: 100%;
   
}
.header h1{
    color: white;
    font-size: 50px;
}
.header h1 span{
    color: var(--first-color);
}
.navbar a{
    color: white;
    padding: 0.5rem;
    
    position: relative;
}
.navbar a:hover{
    color: var(--first-color);
}
.navbar a::after{
    content: "";
    background-color: var(--first-color);
    width: 0;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}
.navbar a:hover::after{
    width: 100%;
    
}
.icons div{
    color: white;
    font-size: 18px;
    display: none;
}
.icons a{
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
    transition: .5s;
    
}

.icons a:hover{
    background: var(--first-color);
    border-radius: 10px;

}

.desc1{
    color:black;
    font-weight: bold !important;
    font-size: 18px;
    margin-bottom: 40px;
    text-align: left;
}

.desc{
    margin-bottom: 40px !important;
    color: #828588;
    text-align: left;
}

@media (max-width:900px) {
    .header{
        padding: 2rem;
    }
    .header h1{
        font-size: 45px;
    }
    .icons a{
        padding: 0.5rem 5px; 
    }
}

@media (max-width:767px) {

    html{
        font-size: 55%;
    }
    .header{
        padding: 1rem 4rem;
    }
    .header h1{
        font-size: 40px;
    }
    .icons div{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 0;
        left: -100%;
        width: 25rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0,0,0,.8);
    }
    .navbar.active{
        left: 0;
    }
    .navbar a{
        padding: 1rem;
        margin-top: 10px;
        font-size: 18px;
    }

    }
    .nutritionInfo{
        color:white;
        font-size:20px;
        position: fixed;
        top: 150px;
    }
    .realNutritionInfo{
        color:white;
        font-size:12px;
        position: fixed;
        top: 200px;
    }
    .workoutInfo{
        color:white;
        font-size:20px;
        position: fixed;
        top: 450px;
    }
    .realWorkoutInfo{
        color:white;
        font-size:12px;
        position: fixed;
        top: 500px;
    }
